body{
    background-image: url("/images/engineer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.employee-card{
    margin:30px;
    width: 1000px;
    box-shadow: 10px 10px;
    font-size: 20px;
}
.card-header {
    background-color: lightblue;
}
h1 {
    font-weight: bold;
    font-size: 50px;
}

.team-heading {
    background-color: lightblue;
}